header {
    background-color: white;
    position: fixed;
    z-index: 9;
    width: 100%;
    top: 0;
    margin: 0;

.container {
    @media screen and (max-width: 767px) {
        padding: 0px 15px;
    }
    .navbar {
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

        

    .nav-links li .option {
        color: black;
        font-family: "arial";
        text-transform: uppercase;
        font-size: 14px;
        text-decoration:none;
        list-style: none;

        @media screen and (max-width: 767px) {
            color: black;
            margin-bottom: 15px;
            display: block;
        }
        }
        
    .logo {
        width: 130px;
        @media screen and (max-width: 767px) {
            width: 90px;  
        }
        img {
            width: 100%;
        }
        }
        
    .menu {
        display: flex;
        gap: 1em;
        text-decoration: none;
        list-style: none;
        @media screen and (max-width: 767px) {
            display: none;
            position: absolute;
            background-color: white;
            right: 0;
            left: 0;
            top: 69px;
            text-align: center;
            padding: 25px 0;
        }
        }

        #checkbox_toggle {
        display: none;
        @media screen and (max-width: 767px) {
            &:checked {
                ~ .menu{
                    display: block;    
                }
            }
        }
        }

    .hamburger {
        display: none;
        font-size: 28px;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        color: black;
        @media screen and (max-width: 767px) {
            display: block;
        }
    }
}
}
}
